@import "../../../assets/mixins.scss";

.todoFilter {
  width: 100%;
  border-top: 1px solid rgba(100, 100, 100, 0.566);
  padding-top: 30px;
  margin-top: 30px;

  &-searchInput {
    @include input;
  }

  &-searchButton {
    @include button;
  }

  &-checkboxContainer {
    display: flex;
    justify-content: space-between;
    width: 185px;
  }
}

.mat-form-field {
  width: 100%;
}
